@using MercerStore.Web.Application.Models.sales
@model OfflineSale

@{
    ViewData["Title"] = "Итоговая стоимость продажи";
}

<div class="container mt-3 mb-4">
    <div class="card p-4 shadow-sm">
        <h2 class="mb-3 text-center">@ViewData["Title"]</h2>

        <div class="form-group mb-3">
            <label class="form-label">ID менеджера</label>
            <input value="@Model.ManagerId" class="form-control" disabled />
        </div>

        <h4 class="mb-3">Товары в продаже</h4>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Product ID</th>
                    <th>Количество</th>
                    <th>Цена за единицу</th>
                    <th>Общая стоимость</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Quantity</td>
                        <td>@item.ItemPrice.ToString("C0")</td>
                        <td>@(item.ItemPrice * item.Quantity)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="table-warning">
                    <th colspan="3" class="text-end">Итоговая стоимость:</th>
                    <th>@Model.TotalPrice.ToString("C0")</th>
                </tr>
            </tfoot>
        </table>

        <a asp-area="Admin" asp-controller="Sale" asp-action="CreateOfflineSale" class="btn btn-outline-warning w-100">Новая продажа</a>
    </div>
</div>