@using MercerStore.ViewModels
@model CartViewModel

@{
	string returnUrl = Url.Action("Index", "Category", new { categoryId = @Model });
}

@if (Model.CartItems != null && Model.CartItems.Any())
{
	<div class="table-responsive">
		<table class="table offcanvasCart-table">
			<tbody>

				@foreach (var item in Model.CartItems)
				{
					<tr>
						<td class="product-img-td">
							<a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">
								<img src="@item.ImageUrl" alt="@item.Name" class="img-fluid" />
							</a>
						</td>

						<td class="product-cart-name-td">
							<a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">
								@item.Name
							</a>
						</td>
						<td class="product-price-td">@item.Price.ToString("C0")</td>
						<td class="product-quantity-td">&times;@item.Quantity</td>
						<td class="remove-btn-td">
							<form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
								<input type="hidden" name="productId" value="@item.ProductId" />
								<input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString"/>
								<button type="submit" class="remove-from-cart-button">
									<i class="fa-solid fa-trash-can"></i>
								</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-end">Итого:</td>
					<td colspan="2" class="total-price-td">@Model.CartTotalPrice.ToString("C0")</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="text-end mt-3">
		<a asp-controller="Cart" asp-action="Index" class="btn btn-outline-warning" id="button-ofcanvas-cart">Перейти в корзину</a>
		<a asp-controller="Checkout" asp-action="Index" class="btn btn-outline-warning" id="button-ofcanvas-checkout">Оформить заказ</a>
	</div>
}
else
{
	<p>Ещё пусто</p>
}