@model MercerStore.Models.Product

@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                    <li><a href="@Url.Action("Index", "Category", new { id = Model.CategoryId })">@Model.Category.Name</a></li>
                    <li><span>@Model.Name</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-lg-4 mb-3">
            <div class="bg-white h-100">
                <div id="carouselExampleFade" class="carousel carousel-dark slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@Model.MainImageUrl" class="d-block w-100" alt="@Model.Name">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-lg-8 mb-3">
            <div class="bg-white product-content p-3 h-100">
                <h1><span>@Model.Name</span></h1>
                <div class="product-price">
                    <small>@(Model.Price + 400)</small>
                    @Model.Price
                </div>

                <div class="product-add2cart">
                    <div class="input-group">
                        <input type="number" class="form-control" value="1" min="1">
                        <button class="btn btn-outline-warning">
                            <i class="fas fa-shopping-cart"></i> Добавить в корзину
                        </button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-4 mb-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="fa-solid fa-shield-halved"></i> Гарантия
                                </h5>
                                <ul class="list-unstyled">
                                    <li>Гарантия 1 год</li>
                                    <li>Возвращение товара в течение 14 дней</li>
                                    <li>Гарантия качества</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-truck-fast"></i> Доставка</h5>
                                <ul class="list-unstyled">
                                    <li>Доставка по всей стране</li>
                                    <li>Доставка почтой</li>
                                    <li>Самовывоз</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-regular fa-credit-card"></i> Оплата</h5>
                                <ul class="list-unstyled">
                                    <li>Наличный расчет</li>
                                    <li>Безналичный расчет</li>
                                    <li>VISA/MasterCard</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-content-details bg-white p-4 mt-3">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                    data-bs-target="#description-tab-pane" type="button" role="tab"
                                    aria-controls="description-tab-pane" aria-selected="true">
                                Описание товара
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel"
                             aria-labelledby="description-tab" tabindex="0">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>