@using MercerStore.Web.Areas.Admin.ViewModels.Invoices
@model UpdateInvoiceViewModel

@{
    ViewData["Title"] = "Редактировать поставку";
}

<div class="container mt-3 mb-4">
    <div class="card p-4 shadow-sm">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Редактирование поставки</h2>

                <form asp-area="Admin" asp-controller="Invoice" asp-action="UpdateInvoice" method="post">
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group mb-3">
                        <label asp-for="CompanyName">Поставщик</label>
                        <input asp-for="CompanyName" class="form-control" readonly />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="SupplierId">ID поставщика</label>
                        <input asp-for="SupplierId" class="form-control" readonly />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="DateReceived">Дата поступления</label>
                        <input asp-for="DateReceived" class="form-control" readonly />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="EditDate">Дата редактирования</label>
                        <input asp-for="EditDate" class="form-control" readonly />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="PaymentDate">Дата оплаты</label>
                        <input asp-for="PaymentDate" class="form-control" readonly />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Status">Статус поставки</label>
                        <select asp-for="Status" class="form-control" >
                            <option value="Pending">Ожидает</option>
                            <option value="Received">В процессе</option>
                            <option value="PartiallyReceived">Частично получена</option>
                            <option value="Closed">Закрыта</option>
                            <option value="Rejected">Отменена</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Notes">Заметки</label>
                        <textarea asp-for="Notes" class="form-control" rows="2"></textarea>
                    </div>

                    <div class="form-group mb-6">
                        <label>Товары в поставке</label>
                        <table class="table table-striped table-bordered text-center table-sm">
                            <thead>
                                <tr>
                                    <th>Изображение</th>
                                    <th>Название</th>
                                    <th>Цена закупки и общая сумма</th>
                                    <th>Количество</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.InvoiceItems.Count; i++)
                                {
                                    var item = Model.InvoiceItems[i];

                                    if (item == null)
                                    {
                                        continue;
                                    }

                                    <tr>
                                        <td>
                                            <img src="@item.ImageUrl" alt="@item.ProductName" style="max-width: 50px;" />
                                        </td>
                                        <td class="text-start">
                                            @(item.ProductName?.Length > 20 ? item.ProductName.Substring(0, 20) + "..." : item.ProductName ?? "Без названия")
                                        </td>
                                        <td>
                                            <span>Цена закупки: @(item.PurchasePrice.ToString("C0"))</span><br />
                                            <span>
                                                Сумма: @((item.PurchasePrice != null && item.Quantity != null)
                                             ? (item.PurchasePrice * item.Quantity) : "N/A")
                                            </span>
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="InvoiceItems[@i].Id" />
                                            <input type="hidden" asp-for="InvoiceItems[@i].ProductId" />
                                            <input type="number" asp-for="InvoiceItems[@i].Quantity"
                                                   class="form-control text-center w-100"
                                                   min="0"/>
                                            <input type="number" asp-for="InvoiceItems[@i].PurchasePrice"
                                                   class="form-control text-center mt-2" w-100
                                                   min="0"
                                                   step="1"/>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-end"><strong>Общая стоимость:</strong></td>
                                    <td><strong>@Model.TotalAmount</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="form-group mt-6">
                        <button type="submit" class="btn btn-outline-warning w-100">Сохранить изменения</button>
                    </div>
                </form>
             
            </div>
        </div>
    </div>
</div>